@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-gradient {
  background-image: linear-gradient(
    to right,
    rgba(208, 0, 0, 1),
    rgba(255, 122, 0, 1)
  );
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.footer-logo path {
  fill: white;
}
