@import 'tailwindcss/base';
@import 'tailwindcss/components';
@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-gradient {
  background-image: linear-gradient(
          to right,
          rgba(208, 0, 0, 1),
          rgba(255, 122, 0, 1)
  );
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #0d0f19;
  overflow-x: hidden;
}

/*a {*/
/*  color: inherit;*/
/*  text-decoration: none;*/
/*}*/

* {
  box-sizing: border-box;
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
  width: auto !important;
}

.react-datepicker__month-container {
  /*background: #6b7280;*/
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.ant-dropdown .ant-dropdown-menu {
  /*background: #141414;*/
  /*margin-left: 30px;*/
  /*border-radius: 20px;*/
}
.ant-dropdown-menu-title-content{
  margin-left: 10px;
}

.ant-tabs-nav-wrap{
  border: 1px solid darkgrey;
  border-radius: 15px;
}
.ant-tabs-nav::before{
  border: none !important;
}
.ant-tabs-nav-wrap{
  justify-content: space-between;
}
.ant-modal-content{
  background: #fff !important;
  color: black;
  border-radius: 15px;
  box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d
}

.ant-tabs-tab.ant-tabs-tab-active{
  z-index: 1;
  color: white !important;

}
.ant-tabs-ink-bar.ant-tabs-ink-bar-animated{
  background: #7066C5;
  height: 100% !important;
  color: white !important;
  border-radius: 10px;
}
.ant-modal-close-x{
  color: black;
}
.ant-tabs-tab-btn{
  /*color: black !important;*/
  font-size: 16px;
}
.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
  color: white;
}

.ant-btn.ant-btn-lg{
  padding-right: 4px;
}

.ant-tabs-nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 4px;

}
.ant-tabs-tab {
  width: 50%;
  justify-content: center;
}

.ant-tabs .ant-tabs-tab{
  padding: 6px 0;
}

.ant-modal .ant-modal-content{
  border-radius: 16px;
  border: 1px solid #434343;
}
.ant-modal-close-x{
  font-size: 20px !important;
}
.connectWalletBtn{
  font-family: 'Space Grotesk', sans-serif !important;
}

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  border-radius: 5px;
}

/* Track (background) of the scrollbar */
::-webkit-scrollbar-track {
  background-color: #222;
}

/* Handle (thumb) of the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

.overflow-hidden {
  overflow: hidden;
}